@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/win95.css';

:root {
  --background: #ffffff;
  --foreground: #000000;
  --link: #0000ff;
  --visited: #800080;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --link: #0000ff;
    --visited: #800080;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Times, serif;
}

.link {
  color: var(--link);
}

.link:visited {
  color: var(--visited);
}

.horizontalRule {
  border-top: 1px solid var(--foreground);
}
